<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CUUProjectID</key>
	<string>iOS1819Capgem</string>
	<key>CUUTrackingToken</key>
	<string>af67c654-91ea-48aa-93d6-139a5b0704a8</string>
</dict>
</plist>
